@media screen and (min-width: 1200px) {
  .container {
    width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
  }

  /* --- section one --- */

  .s-one {
    padding: 120px 0;
  }

  .s-one-thumb {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 264px;
    height: 112px;
    margin-bottom: 8px;

    background: var(--cloud-color);
    border-radius: 4px;
  }

  .s-one-list {
    display: flex;
  }

  .s-one-item {
    max-width: 264px;
  }

  .s-one-item:nth-child(-n + 2) {
    margin-bottom: 0;
  }

  .s-one-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-transform: none;
  }

  /* --- section one END --- */

  /* --- section two --- */

  .s-two {
    display: block;
    padding-bottom: 120px;
  }

  .s-two-list {
    display: flex;
    gap: 24px;
  }

  .s-two-item {
    width: calc((100% - 48px) / 3);
  }

  .s-two-title {
    text-align: center;
    margin-bottom: 72px;

    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--navy-blue-color);
  }

  /* --- section two END --- */
}
