@media screen and (min-width: 1200px) {
  .container {
    width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
  }

  /* ------------------ HEADER ------------------ */

  .header-list {
    margin-left: 76px;
  }

  .header-list-link {
    padding-bottom: 28px;
  }

  .header-contact {
    gap: 40px;
    flex-direction: row;
    padding: 0;
  }

  .header-contact-link {
    padding: 24px 0 28px;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }

  /* ------------------ HEADER END ------------------ */

  /* --- hero --- */

  .hero {
    padding: 188px 0;

    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-img-desktop-1x.jpg);
    background-size: 1440px 600px;
  }

  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (-o-min-device-pixel-ratio: 2/1),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/hero-img-desktop-2x.jpg);
    }
  }

  .hero-title {
    margin-bottom: 48px;
  }

  /* --- hero END --- */

  /* --- section one --- */

  .s-one {
    padding: 120px 0;
  }

  .s-one-thumb {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 264px;
    height: 112px;
    margin-bottom: 8px;

    background: var(--cloud-color);
    border-radius: 4px;
  }

  .s-one-list {
    display: flex;
  }

  .s-one-item {
    max-width: 264px;
  }

  .s-one-item:not(:nth-last-child(-n + 2)) {
    margin-bottom: 0;
  }

  .s-one-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-transform: none;
  }

  /* --- section one END --- */

  /* --- section two --- */

  .s-two {
    display: block;
    padding-bottom: 120px;
  }

  .s-two-list {
    display: flex;
    gap: 24px;
  }

  .s-two-item {
    width: calc((100% - 48px) / 3);
  }

  .s-two-title {
    text-align: center;
    margin-bottom: 72px;

    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--navy-blue-color);
  }

  /* --- section two END --- */

  /* --- section three --- */

  .s-three {
    padding: 120px 0;
  }

  /* --- section three END --- */

  /* --- section four --- */

  .s-four {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .s-four-item {
    width: 168px;
  }

  /* --- section four END --- */

  /* ------------------ FOOTER ------------------- */

  .footer {
    padding: 100px 0;
  }

  .footer-logo-text {
    margin-left: 0px;
    padding: 0;
  }

  .footer-text {
    margin: 0;
  }

  .footer-soc {
    margin-left: 120px;
    padding: 0;
  }

  .footer-soc-list {
    margin: 0;
  }

  .footer-subscribe {
    margin-left: 80px;
  }

  /* ------------------ FOOTER END ------------------- */

  /* --- Modal --- */

  .s-modal {
    width: 408px;
    min-height: 584px;
    padding: 72px 24px 24px;
  }

  .s-modal-text {
    margin-bottom: 14px;
  }

  /* --- Modal END --- */
}
