@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }

  /* --- section one --- */

  .s-one-item {
    width: calc((100% - 24px) / 2);
  }

  .s-one-list {
    gap: 24px;
  }

  @media screen and (max-width: 1199px) {
    .s-one-item:not(:nth-last-child(-n + 2)) {
      margin-bottom: 48px;
    }
  }

  .s-one-title {
    text-align: left;
  }

  /* --- section one END --- */

  /* --- section three --- */

  .s-three {
    padding: 96px 0 104px;
  }

  .s-three-list {
    gap: 24px;
  }

  @media screen and (max-width: 1199px) {
    .s-three-item:not(:nth-last-child(-n + 2)) {
      margin-bottom: 40px;
    }
  }

  /* --- section three END --- */

  /* --- section four --- */

  .s-four-list {
    gap: 24px;
  }

  .s-four-item {
    width: 168px;
  }

  @media screen and (max-width: 1199px) {
    .s-four-item:not(:nth-last-child(-n + 3)) {
      margin-bottom: 48px;
    }
  }
  /* --- section four END --- */

  /* ------------------ FOOTER ------------------- */

  .footer-pos {
    display: flex;
    flex-wrap: wrap;
  }

  .footer-logo-text {
    margin-left: 92px;
  }

  .footer-logo {
    justify-content: left;
  }

  .footer-text {
    width: 264px;
  }

  .footer-soc-text,
  .footer-subscribe-text {
    text-align: left;
  }

  .footer-soc {
    margin-left: 24px;
  }

  .footer-subscribe-form {
    display: flex;
  }

  .footer-subscribe {
    margin-left: 92px;
  }

  .footer-subscribe-email {
    width: 264px;
    margin-bottom: 0;
  }

  .footer-subscribe-btn {
    margin-left: 24px;
  }

  /* ------------------ FOOTER ------------------- */
}
